.popup__button_disabled {
  background-color: white;
  border: 2px solid black;
  color: black;
  opacity: 0.2;
  transition: all 0.5s;
}

.popup__button_disabled:hover {
  color: white;
  border-color: rgba(0, 0, 0, 0.8);
}
